.container .row .d-flex .text__logo {
  font-size: 26px;
}

.container .row .col-6 .wrapper__img__login {
  background-color: #ebebeb;
  border-radius: 20px;
}

.container .row .col-6 .p-5 p {
  color: #313131;
}

.container .row .col-6 .p-5 .d-grid .btn {
  background-color: #515def;
  font-weight: 500;
  color: #fff;
}

.container .row .col-6 .p-5 .text-center {
  font-weight: 500;
}

.container .row .col-6 .p-5 .or__login {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
}
